.background {
  margin:0px;
  background-image: url("../../assets/猫背景.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.quiz-button-container {
  display: flex;
    justify-content: center;
    margin-top: 100px;
}

.quiz-button {
  background-color: #BCFFE2;
  color: black;
  border-radius: 100vh; /* 丸い形状にするためにborder-radiusを調整 */
  width: 400px; /* 幅を定 */
  height: 100px; /* 高さを設定 */
  justify-self: end; /* ボタンを右側に配置 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-family: "Hannotate SC", sans-serif;
}

.diagnosis-button {
  background-color:#BCFFFD;
  color: black;
  border-radius: 100vh; /* 丸い形状にするためにborder-radiusを調整 */
  width: 400px; /* 幅を設定 */
  height: 100px; /* 高さを設定 */
  justify-self: end; /* ボタンを右側に配置 */
  margin-left: 8px; /* ボタンの左側に少し余白を設定 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;
  font-family: "Hannotate SC", sans-serif;
}

.subtitle-font{
  font-size: 20px;
  text-align: center;
  font-family: "Hannotate SC", sans-serif;
  margin: 0;
}

.diagnosis-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  justify-content: center;

}
