<div class="quiz-box">
  <div class="quiz-count">
    <b>第{{ Questionscount }}問</b>残り{{ 20 - Questionscount }}問
  </div>
  <div class="question">{{ quizQuestion }}</div>
  <div>
    <app-button
      [text]="'選択肢１'"
      class="quiz-button-container"
      (disabled)="(isOptionSelected[0])"
      (click)="handleOptionClick(0)"
    ></app-button>
    <app-button
      [text]="'選択肢２'"
      class="quiz-button-container"
      (disabled)="(isOptionSelected[1])"
      (click)="handleOptionClick(1)"
    ></app-button>
    <app-button
      [text]="'選択肢３'"
      class="quiz-button-container"
      (disabled)="(isOptionSelected[2])"
      (click)="handleOptionClick(2)"
    ></app-button>
    <app-button
      [text]="'選択肢４'"
      class="quiz-button-container"
      (disabled)="(isOptionSelected[3])"
      (click)="handleOptionClick(3)"
    ></app-button>
  </div>
</div>

<div
  class="question"
  *ngIf="
    isOptionSelected[0] ||
    isOptionSelected[1] ||
    isOptionSelected[2] ||
    isOptionSelected[3]
  "
>
  <div class="circle-cross" #scrollTarget>{{ circle_cross[0] }}</div>
  <div class="answer">{{ answer }}</div>
  <div class="quiz-box">
    <div>{{ description }}</div>
  </div>
  <app-button [text]="'次に進む'" class="next-button"></app-button>
</div>

<!-- <div class="question">
  {{ circle_cross }}
  {{ anser }}
  <div class="quiz-box">
    {{ description }}
  </div>
  <app-button [text]="'次に進む'"></app-button>
</div> -->
