.quiz-box{
  border: 2px solid gray ;
  border-radius: 25px;
  padding: 10px;
  margin: 15px;
}
.quiz-count{
  font-size: 15px;
  display: flex;
  //flex-direction: column;
  //justify-content:center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.question{
      font-size: 15px;
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
}
.button-container{
  margin: 10px;
  height: 10px;
  width: 50vw;
  padding: 5px;

}
.circle-cross {
  font-size: 20px;
}

.answer {
  font-weight: bold;
}

.description {
  margin-top: 10px;
}

